html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.left-layout::-webkit-scrollbar {
  display: none;
}

.dnd-container > .field-wrapper {
  height: 98% !important;
}

.dnd-container > .field-wrapper > .fr-field {
  margin-bottom: 0;
}

.ant-btn.mr2:nth-child(2),
.ant-btn.mr2:nth-child(3),
.ant-btn.mr2:nth-child(4) {
  display: none;
}
